body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

section {
    margin: 40px;
}

h2 {
    color: #007BFF;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}